{% extends "checkout/_layout" %}

{% set step = 'shipping' %}

{% block content %}

		{% if not cart.email %}
			{% redirect siteUrl(parseEnv(baseUrl)) %}
		{% endif %}

		{{ include('checkout/includes/details') }}
			
		<form method="post" action="" x-data x-validate @submit="$validate.submit; if(!$validate.isComplete($el)){delete $refs.submit.dataset.processing}">
			{{ csrfInput() }}
			{{ actionInput('commerce/cart/update-cart') }}
			{{ redirectInput(parseEnv(baseUrl)~'/payment') }}
			{{ successMessageInput('shipping updated.') }}
			<input type="hidden" name="checkout" value="true">
			<input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
				<fieldset class="mb-8">
					<div class="flex items-center justify-between">
						<legend class="text-lg">Shipping Method</legend>
					</div>
					
					<div class="grid gap-3 mt-4">
						
						  <div class="border border-gray-300 divide-y divide-gray-300 rounded-md">
							{% if not cart.availableShippingMethodOptions|length %}
								<p class="p-3 text-sm">FedEx shipping rates available! - Call for details</p>
							{% else %}
							
							{% for handle, method in cart.availableShippingMethodOptions %}
							<label class="relative flex items-start gap-3 p-3 text-sm">
							  <input name="shippingMethodHandle" value="{{ handle }}" type="radio" {{ (cart.shippingMethodHandle and handle == cart.shippingMethodHandle) or (not cart.shippingMethodHandle and loop.first) ? 'checked' }} class="mt-0.5 h-4 w-4 border-gray-300 text-brand focus:ring-brand">
								<div class="flex-1 text-gray-600">{{ method.name }}</div>
								<span class="font-medium text-gray-900">{{ method.getPrice() > 0 ? method.getPrice()|currency(cart.currency) : 'FREE' }}</span>
							</label>
							{% endfor %}
							{% endif %}
						  </div>

						
					</div>
				</fieldset>
		
				<div class="flex items-center justify-between">
					<a href="{{ siteUrl(parseEnv(baseUrl)) }}" class="text-sm text-gray-500">< Information</a>
					
					{{ include("checkout/includes/inputs/button", {icon:"arrow-right"}) }}
				</div>
				
		</form>
				
{% endblock %}